# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
GameProject/OpenGL/OpenGL.exe
GameProject/.vs
GameProject/OpenGL/.vs
GameProject/x64
GameProject/OpenGL/x64
GameProject/Debug
GameProject/OpenGL/Debug
GameProject/Release
GameProject/OpenGL/Release