# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
GameProject/TowerDefence/TowerDefence.exe
GameProject/.vs
GameProject/TowerDefence/.vs
GameProject/x64
GameProject/TowerDefence/x64
GameProject/Debug
GameProject/TowerDefence/Debug
GameProject/Release
GameProject/TowerDefence/Release