# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
GameProject/ValkyrieWarriors/ValkyrieWarriors.exe
GameProject/ValkyrieWarriors/ValkyrieWarriors.ilk
GameProject/ValkyrieWarriors/ValkyrieWarriors.pdb
GameProject/.vs
GameProject/ValkyrieWarriors/.vs
GameProject/x64
GameProject/ValkyrieWarriors/x64
GameProject/Debug
GameProject/ValkyrieWarriors/Debug
GameProject/Release
GameProject/ValkyrieWarriors/Release